
.account-settings-profile-image{
    display: inline-block;
 }

.account-settings-profile-image img{
    border-radius: 50%;
    height: 100px;
}

.account-settings-button{
    border: 3px solid pink;
    border-radius: 5px;
    background: white;
    height: 30px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.account-settings-button:hover{
    color: white;
    background: pink;
    transition-duration: 0.5s;
}

.account-settings-button.save{
    margin-left: 300px;
}

.account-settings-button.upload{
   position: relative;
   bottom: 40px;
}

.account-settings-button.change-password{
    float: right;
    margin-left: 50px;
    height: 45px;
}

.account-settings-header{
    padding: 30px 30px;
}

.account-settings-button-wrapper.save{
   float: right;
}


.account-settings-input{
    margin-top: 20px;
    border: 3px solid pink;
    border-radius: 8px;
    padding: 5px;
    height: 36px;
    width: 276px;
}

.account-settings-personal-details{
    margin: 30px 0;
}

.account-settings-user-localization{
    margin: 30px 0;
}

.account-settings-user-password{
    display: inline-block;
    margin-top:50px;

}


