/*.account-settings-section:nth-child(1){*/
/*    background: green;*/
/*}*/
/*.account-settings-section:nth-child(2){*/
/*    background: red;*/
/*}*/
/*.account-settings-section:nth-child(3){*/
/*    background: orange;*/
/*}*/
/*.account-settings-section:nth-child(4){*/
/*    background: blue;*/
/*}*/


.account-settings-section{
    margin-bottom: 0;
}


.account-settings-section.acc-img{
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
}

.account-settings-section.acc-img img{
    height: 100px;
}

.account-settings-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.acc-title{
    margin: 30px 0 25px 0;
}

.acc-input-container{
    margin-bottom: 35px;
}

.acc-input-label{
    font-size: 13px;
    margin: 0 0 3px 5px;
}

.acc-input{
    border: 2px solid rgba(148, 0, 211, 0.5);
    border-radius: 8px;
    padding: 5px;
    height: 36px;
    width: 276px;
}

.acc-button{
    border: 2px solid rgba(148, 0, 211, 0.5);
    border-radius: 5px;
    background: white;
    height: 30px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.acc-button:hover{
    background: rgba(148, 0, 211, 0.5);
    transition-duration: 0.5s;
}

.acc-save-changes{
    margin-top: 40px;
    margin-left: 32.5%;
    width: 150px;
    height: 38px;
    grid-column: span 2;
}

.error-message{
    position: absolute;
    margin: 5px 0 0 3px;
    font-size: 12px;
    color: red;
}

