.dashboard {
    height: 100vh;
    margin-top: 100px !important;
    width: 1000px;
    margin: 100px auto 20px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    color: black;
}

.dashboard-header{
    padding: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    overflow: hidden;
    text-align: center;
    background: rgba(240, 240, 240, 1);
}

.dashboard-header a {
    height: 100%;
    padding-top: 15px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
    z-index: 2;
}

.dashboard-header a:hover{
    background: white;
    font-weight: 600;
}

.dashboard-menu li {
  display: inline;
  text-align: center;
}

.dashboard-menu li:hover {
    background: white;
    transition: .3s ease-in-out;
}

.renting:hover ~ hr {
  margin-left: 10%;
}

.lending:hover ~ hr {
  margin-left: 110%;
}

.account:hover ~ hr {
  margin-left: 210%;
}

.underbar {
    height: 40px;
    width: 80%;
    margin: 0;
    background: linear-gradient(90deg, rgba(247,0,70,0.5) 0%, rgba(2,0,182,0.5) 100%);
    border: none;
    transition: .3s ease-in-out;
    z-index: 1;
}

.dashboard-content-container {
    padding: 50px;
    display: block;
    margin: auto;
    height: 1000px;
    width: 100%;
    background: white;
}

.dashboard-content-container h7{
    font-size: 18px;
}

.dashboard-items-list-header{
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dashboard-items-list-header-label{
    display: inline;
    color: black;
    font-size: 15px;
}

.dashboard-content-container hr{
    position: relative;
    top: 50px;
    border: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(247,0,70,0.5) 0%, rgba(2,0,182,0.5) 100%);
}

.dashboard-items-list{
    width: 100%;
    margin-top: 10px;
}

.dashboard-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-item:nth-child(odd){
    background: rgba(240, 240, 240, 1);
}

.dashboard-item-photo-container{
    height: 80px;
    width: 120px;
    overflow: hidden;
    border-radius: 8px;
    background: pink;
    margin: auto;
}

.dashboard-item-photo{
    height: 100%;
    opacity: 0;
}

.dashboard-item span{
    color: black;
    padding-top: 30px;
}